html {
  height: 100%; }
  html body {
    width: 1200px;
    height: 100%;
    font-size: 0px;
    margin: 0 auto;
    padding: 0;
    background-color: gray; }
    html body aside {
      font-size: initial;
      width: 250px;
      height: 100%;
      background-color: red;
      display: inline-block;
      vertical-align: top;
      margin: -50px; }
    html body section {
      width: 70%;
      height: 100%;
      font-size: initial;
      background-color: blue;
      display: inline-block;
      vertical-align: top; }
      html body section article {
        width: 560px;
        background-color: violet; }
    html body footer {
      background-color: gray; }
