# Created by http://www.gitignore.io

### Jekyll ###
_site/

### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

### SASS ###
### Sass Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache
