<ul>
  <li><a href="https://twitter.com/gzfrancisco"><i class="fa fa-twitter"></i> Twitter</a></li>
  <li><a href="https://facebook.com/gzfrancisco"><i class="fa fa-facebook"></i> Facebook</a></li>
  <li><a href="https://www.linkedin.com/in/gzfrancisco?locale=en_US"><i class="fa fa-linkedin"></i> Linkedin</a></li>
  <li><a href="https://open.spotify.com/user/1276392502"><i class="fa fa-spotify"></i> Spotify</a></li>
  <li><a href="http://music-inspector.tumblr.com"><i class="fa fa-tumblr"></i> Tumblr</a></li>
  <li><a href="https://github.com/gzfrancisco"><i class="fa fa-github"></i> Github</a></li>
  <li><a href="mailto:gz.francisco@gmail.com"><i class="fa fa-envelope-o"></i> Email</a></li>
  <li><a href="https://delicious.com/gzfrancisco"><i class="fa fa-delicious"></i> Delicious</a></li>
  <li><a href="https://careers.stackoverflow.com/gzfrancisco"><i class="fa fa-stack-overflow"></i> Stackoverflow</a></li>
</ul>
