---
layout: page
title: About code
category: code
---
<header class="code">
  <h1>Code, programming and nerd stuff</h1>
</header>

<h1>About code</h1>
<p>I write code all day and have to estimate the effort in projects. My history with economy help me a lot every time I have to set the resources and the plan for the app.</p>

<div id="recent-post">
  <h2>This are my post about programming, some about Web, Ruby or Objective-C</h2>
  <ul>
    {% for post in site.posts %}
      {% if post.category == page.category %}
      <li><a href="{{ post.url }}">{{post.title}}</a><time>{{ post.date | date_to_string }}</time></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
