$anchor-color: #D90006
*
  font-family:  $font-family-primary
p
  font-family:  $font-family-primary
h1
  font-family: $font-family-primary
ul
  margin: 0
  padding: 0
li
  list-style: none
a
  font-family: $font-family-primary
  text-decoration: none
  color: inherit
