
html body
  font-size: 10px
  aside
    z-index: 1
    overflow: auto
    display: none
  section
    padding: 0
    article
      width: 100%
      padding: 0 10px
      header
        min-width: 100%
        width: calc(100% + 20px)
        height: 210px
        margin: 0 -10px
        hgroup
          h1, h2, time, a
            top: 70px
      #recent-post
        padding: 10px
        ul
          padding: 0
          list-style: none
    footer
      width: 100%
      padding: 0 10px


