@import bourbon

html
  height: 100%
  body
    width: 1200px
    height: 100%
    font-size: 0px
    margin: 0 auto
    padding: 0
    background-color: gray
    aside
      font-size: initial
      width: 250px
      height: 100%
      background-color: red
      display: inline-block
      vertical-align: top
      margin: -50px
    section
      width: 70%
      height: 100%
      font-size: initial
      background-color: blue
      display: inline-block
      vertical-align: top
      article
        width: 560px
        background-color: violet
    footer
      background-color: gray
