@import bourbon

html
  width: 100%
  height: 100%

body
  width: 590px
  height: 100%
  margin: 0 auto
  font: 16px Monaco, Source Code Pro, Helvetica, Arial
  font-weight: lighter
  @include box-sizing(border-box)

header
  background-color: black
  color: white
  h1
    margin: 0
nav
  ul
    margin: 0
    padding: 0
    li
      list-style-type: none
article
  p
    font-size: small
