aside
  @include box-sizing(border-box)
  width: $aside-width
  height: 100%
  position: fixed
  font-family: $font-family-primary
  background-color: $sidebar-background-color
  padding: 20px 30px
  border-top: solid $border-top-width $border-top-color
  margin-top: $border-top-width * -1
  header
    h1
      font-size: 1.9em
      font-weight: bold
      color: $sidebar-title-color
      top: 0
      position: static
      text-align: initial
      a
        top: 0
        position: static
        color: $sidebar-title-color
        display: block
        width: inherit
        text-align: initial
        maring: 0 0
        height: auto
        line-height: inherit
        text-shadow: white 1px 1px 0px
        border: 0px none red
        border-radius: 0
    h2
      top: 0
      position: static
      font-size: 0.9em
      font-weight: 100
      color: $sidebar-subtitle-color
      text-shadow: 1px 1px #fff
      text-align: initial
  nav
    border-top: solid 1px #EEEEEE
    border-bottom: solid 1px #EEEEEE
    margin: 10px 0px
    padding: 10px 0px
    ul
      color: #999999
      font-weight: 200
      text-shadow: white 1px 1px 0px
      font-size: 14px
      line-height: 30px
  ul
    list-style: none
    color: #999999
    font-weight: 200
    text-shadow: white 1px 1px 0px
    font-size: 15px
    line-height: 28px
    word-spacing: 10px
    li a
      width: 100%
      display: block
      i
        width: 10px
