---
layout: page
title: About code
category: projects
---
<header class="projects">
  <h1>My work done</h1>
</header>

<h1>About my projects</h1>

<p>Here is a list with post about each project I had. I'll write some of them but anothers are just links to the website or the application.</p>

<div id="recent-post">
  <h2>Recent post about my projects</h2>
  <ul>
    {% for post in site.posts %}
      {% if post.category == page.category %}
      <li><a href="{{ post.url }}">{{post.title}}</a><time>{{ post.date | date_to_string }}</time></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<p><strong>Do you want work with me? <a href="mailto:gz.francisco@gmail.com">drop a line!</a> or send me a <a href="https://twitter.com/gzfrancisco">tweet</a></strong>.</p>
