<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="autor" value="Francisco Granados">
  <meta content="description" value="Blog about Francisco Granados life, music and code.">
  <title>{{site.name}}, {{page.title}}</title>
  <meta name="viewport" content="width=device-width">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>

  <header>
    <h1><a href="/">{{ site.name }}</a></h1>
    <h2>Francisco Granados blog</h2>
  </header>

  {{ content }}

  <footer>
  </footer>

</body>
</html>
