<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="autor" value="{{site.author}}">
  <meta content="description" value="{{site.description}}">
  <title>{{site.name}}, {{page.title}}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <!-- Awesome font -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>
  <aside>
    {% include title.html %}
    {% include menu.html %}
    {% include social.html %}
  </aside>
  <section>
    {{ content }}
    {% include footer.html %}
  </section>
</body>
</html>
